In [2]:
#1 create list of fruits and add fruits in list
my_fruits = ['apple', 'banana ', 'mango']
print(my_fruits)

['apple', 'banana ', 'mango']

In [3]:
 # create a index one postive and one negavitve
# create a 3 list and concatenate than a single list
# write a python program to count the occurrence of a element given list
# create a dicnarit to store the information age name location qualification gender
# add a new key value in existing dictionary 
# create 2 dict merge them as a single dictionary
# write a python program to remove keyvalue from a dictionary
# create 2 sets each set contain 7 apply union ,intersection
# create aset with 15 the much reapted values apply dulicate method

In [30]:
#2 create a index one postive and one negavitve
# Define a list
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Positive index
positive_element = 3

# Negative index
negative_element = -3

print(positive_element)
print(negative_element)

3
-3

In [31]:
#3 create a 3 list and concatenated than a single list
# Define three lists
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list3 = [7, 8, 9]

# Concatenate the lists
concatenated_list = list1 + list2 + list3

print(concatenated_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [32]:
#4 write a python program to count the occurrence of a element given list
list = [1,2,3,3,4,5,6,6,6,7,7,8,9,9,10]
count =list.count(6)
print(count)

3

In [33]:
#5 create a dictionary to store the information age name location qualification gender
# Create a dictionary to store information
person_info = {
    "name": "Sanket",
    "age": 22,
    "location": "Hyderabad",
    "qualification": "Bachelor's Degree",
    "gender": "Male"
}

# Print information about the person
print("Name:", person_info["name"])
print("Age:", person_info["age"])
print("Location:", person_info["location"])
print("Qualification:", person_info["qualification"])
print("Gender:", person_info["gender"])

Name: Sanket
Age: 22
Location: Hyderabad
Qualification: Bachelor's Degree
Gender: Male

In [34]:
#6 add a new key value in existing dictionary
person_info = {
    "name": "Sanket",
    "age": 22,
    "location": "Hyderabad",
    "qualification": "Bachelor's Degree",
    "gender": "Male"
}
new_data = {"email" : "Sankketkolhatkar367@gmail.com"}
person_info.update(new_data)
print(person_info)

{'name': 'Sanket', 'age': 22, 'location': 'Hyderabad', 'qualification': "Bachelor's Degree", 'gender': 'Male', 'email': 'Sankketkolhatkar367@gmail.com'}

In [35]:
#7 Two dictionaries to merge
dict1 = {"name": "Sanket", "age": 22}
dict2 = {"location": "hyd", "gender": "Male"}

# Merge dictionaries using dictionary unpacking **
merged_dict = {**dict1, **dict2}

# Print the merged dictionary
print(merged_dict)

{'name': 'Sanket', 'age': 22, 'location': 'hyd', 'gender': 'Male'}

In [36]:
#8 write a python program to remove keyvalue from a dictionary
my_dict = {"name": "Sanket",
    "age": 22,
    "location": "Hyderabad",
    "qualification": "Bachelor's Degree",
    "gender": "Male"}
# Key to remove
key_to_remove = "age"

# Remove key-value pair using pop() method
my_dict.pop(key_to_remove)
print(my_dict)

{'name': 'Sanket', 'location': 'Hyderabad', 'qualification': "Bachelor's Degree", 'gender': 'Male'}

In [37]:
#9 create 2sets each set contain 7 apply union ,intersection, difference,symmetric difference
set1 = {1,2,3,3,44,5,5,6,7,78,9,9,101,108,200,200}
set2 = {0,0,0,1,2,3,3,4,4,5,6,7,8,9,100,1000,100}

# Apply set operations
union_set = set1.union(set2)
intersection_set = set1.intersection(set2)
difference_set1_to_set2 = set1.difference(set2)
difference_set2_to_set1 = set2.difference(set1)
symmetric_difference_set = set1.symmetric_difference(set2)

# Print the results
print("Set 1:", set1)
print("Set 2:", set2)
print("Union:", union_set)
print("Intersection:", intersection_set)
print("Difference (Set 1 - Set 2):", difference_set1_to_set2)
print("Difference (Set 2 - Set 1):", difference_set2_to_set1)
print("Symmetric Difference:", symmetric_difference_set)

Set 1: {1, 2, 3, 5, 6, 7, 101, 9, 200, 44, 108, 78}
Set 2: {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 100, 1000}
Union: {0, 1, 2, 3, 4, 5, 6, 7, 200, 9, 8, 78, 100, 101, 1000, 44, 108}
Intersection: {1, 2, 3, 5, 6, 7, 9}
Difference (Set 1 - Set 2): {101, 200, 108, 44, 78}
Difference (Set 2 - Set 1): {0, 4, 100, 8, 1000}
Symmetric Difference: {0, 4, 101, 8, 200, 100, 1000, 44, 108, 78}

In [38]:
#10 create aset with 15 the much reapted values apply dulicate method
# Create a list with repeated values
values = [1, 2, 3, 4, 5, 5, 6, 6, 7, 7, 8, 8, 9, 9, 10]

unique_values = set(values)

# Print the set with duplicates removed
print("Set with duplicates removed:", unique_values)

Set with duplicates removed: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}